.takephoto {
    position: fixed;
    z-index: 3;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
}

#AR {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
}
h1 {
    color: red;
    background-color: yellow;
    padding: 300px;
    /* z-index: 9999999999999999999999999999999999; */
}
.myloca {
    color: blue;
}
.clickok {
    padding: 20px;
    color: chartreuse;
    background-color: violet;
    position: fixed;
    bottom: 50px;
    left: 50%;
    z-index: 4;
}
.mycontrol {
    height: 200px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999;
}